<figure>
  <blockquote class="blockquote">
    <p><%= @question %></p>
  </blockquote>
  <figcaption class="blockquote-footer">
    <cite title="Source Title">You</cite>
  </figcaption>
</figure>

<figure style="background-color: #ffffe1;">
  <blockquote class="blockquote">
    <p><strong><%= @answer %></strong></p>
  </blockquote>
  <figcaption class="blockquote-footer">
    <cite title="Source Title">Your coach</cite>
  </figcaption>
</figure>

<div><%= link_to "Ask a new question", ask_url %></div>
