<form action="/answer" data-turbo="false">
  <div class="mb-3">
      <label for="inputQuestion" class="form-label">Ask your coach anything:</label>
      <input type="text" name="question" class="form-control" id="inputQuestion" aria-describedby="questionHelp">
      <div id="questionHelp" class="form-text">If I were you I would go to work.</div>
  </div>
    <button type="submit" class="btn btn-primary">Ask!</button>
</form>
